.textarea {
  padding: 10px;
  border-color: rgb(204, 208, 211);
  border-radius: 5px;
  resize: none;
  font-size: larger;
}

.submit {
  margin-top: 10px;
  width: 90px;
  height: 30px;
  align-self: flex-end;
  background-color: #1da1f2;
  border: #1da1f2;
  border-radius: 15px;
  color: white;
  font-size: large;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.8;
}
